<% @user ||= current_user %>
<div class="stats">
  <a href="<%= favorite_user_path(@user) %>">
    <strong id="favorites" class="stat">
      <%= @user.favorite_tweets.count %>
    </strong>
    favorites
  </a>
</div>